/*------------------------------------*\
   #FILTERS
\*------------------------------------*/

.filters {
    background-color: $bg_color_primary;
    overflow-y: auto;
}

.filters__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    padding: 20px;
    border-bottom: 1px solid $bg_color_secondary;
}

.filters__title {
    margin: 0;
    font-family: 'Syne', sans-serif;
}

.filters__close {
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.filters__form {
    padding: 20px;
}

.filter__group {
    border: none;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
}

.filter__label--hidden,
.filter__legend--hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
}

.filter__button {
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    padding-bottom: 20px;
    font-size: 1.4rem;
    color: $color_secondary;
    cursor: pointer;
    text-decoration: underline;
}

.filter__input--wrapper {
    padding: 8px 15px;
    margin-bottom: 10px;
    border: 1px solid $text_body;
    border-radius: 20px;
    background-color: #fff;
    display: flex;
}

.filter__input {
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    color: inherit;
    max-width: 120px;

    &:focus,
    &:focus-within,
    &:focus-visible {
        border: none;
        outline: none;
    }
}

.filter__input--icon {
    height: $size-icon;
    margin-right: 10px;
}

@include for-size(small-devices) {
    .filters {
        position: fixed;
        width: 100%;
        height: 100vh;
        z-index: 2000;
    }

    .filter__input {
        max-width: none;
        width: 100%;
    }
}

@include for-size(l-devices) {
    .filters {
        height: auto;
        border-radius: 20px;
        margin-top: 60px;
        overflow: hidden;
    }

    .filters__header {
        display: block;
    }

    .filters__title {
        text-align: center;
    }

    .filters__close {
        display: none;
    }
}


/*----------------*\
   #FILTER BUTTON
\*----------------*/

.filters__devices {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.filters__devices--button {
    appearance: none;
    border: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 13px;
    font-size: 1.7rem;
    color: $text_body;
    background-color: $bg_color_primary;
    border: 1px solid $bg_color_secondary;
    border-radius: 20px;
    cursor: pointer;
}

.filters__devices--button-text {
    margin-left: 5px;
}

@include for-size(m-devices) {
    .filters__devices {
        justify-content: flex-start;
    }
}

@include for-size(l-devices) {
    .filters__devices {
        display: none;
    }
}