/*------------------------------------*\
   #HEADING
\*------------------------------------*/

.heading {
    text-align: center;
}

.heading__title {
    margin-bottom: 8px;
}

.heading__subtitle {
    font-size: 1.9rem;
    color: $text_subtitle;
}

@include for-size(small-devices) {
    .heading__subtitle {
        font-size: 1.7rem;
    }
}