/*------------------------------------*\
   #HEADING
\*------------------------------------*/

.heading {
    text-align: center;
}

.heading__title {
    margin-bottom: 8px;
}

.heading__subtitle {
    font-size: 1.9rem;
    color: $text_subtitle;
}