/*------------------------------------*\
   #NAVIGATION
\*------------------------------------*/

.header__cta {
    display: none;
}

nav.nav--is-open {
    .nav__menu {
        right: 0;
    }
}

.nav__menu {
    position: absolute;
    top: $header-height;
    right: -100%;
    min-width: 33vw;
    background-color: #fff;
    transition: .2s ease;
    z-index: 999;
}

.nav__item {
    width: 100%;
}

.nav__link {
    position: relative;
    display: flex;
    align-items: center;
    padding: 25px;
    color: $text_body;

    &.nav__link--active {
        background-color: $bg_color_primary;
        color: $text_hover;
    }

    &:hover {
        color: $text_hover;
    }
}

.nav__icon {
    height: $size-icon;
    margin-right: 5px;
}

.nav__text {
    line-height: 35px;
}

.burger__menu {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    cursor: pointer;
    z-index: 1000;
}

.burger__menu--bar-top,
.burger__menu--bar-center,
.burger__menu--bar-bottom {
    width: 25px;
    height: 2px;
    border-radius: 2px;
    background-color: $color_secondary;
    margin: 6px 0;
    opacity: 1;
    transform: none;
    transition: transform 0.4s ease, opacity .4s ease;
}

.burger__menu--close {
    .burger__menu--bar-top {
         transform: translate(0, 8px) rotate(-45deg);
    }

    .burger__menu--bar-center{
        opacity: 0;
    }

    .burger__menu--bar-bottom {
        transform: translate(0, -8px) rotate(45deg);
    }
}

@include for-size(small-devices) {
    .logo {
        max-width: 120px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@include for-size(m-devices) {
    .burger__menu {
        display: none;
    }

    .header__cta {
        display: block;
    }
    
    .nav__menu {
        position: static;
        min-width: 0;
        background-color: transparent;
        transition: none;

        display: flex;
        justify-content: space-between;
        align-items: center;  
        column-gap: 25px;
    }

    .nav__item {
        width: auto;
    }

    .nav__link {
        position: relative;
        display: flex;
        align-items: center;
        padding: 25px 10px;
        color: $text_body;

        &.nav__link--active {
            background-color: transparent;
            color: $text_body;
            border-bottom: 2px solid $color_primary;

            &::before {
                content: "";
                display: inline-block;
                width: 30px;
                height: 30px;
                background-image: url('../assets/icons/arrow.svg');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                transform: rotate(180deg) translate(calc(-50% + 30px));
                position: absolute;
                bottom: -12px;
                left: 50%;

            }
        }

        &:hover {
            color: $text_hover;
        }
    }

    .nav__icon {
        height: $size-icon;
        margin-right: 5px;
    }

    .nav__text {
        line-height: 35px;
    }
}

@include for-size(l-devices) {
    .nav__link {
        padding: 25px;
    }
}