<div class="filters">
    <header class="filters__header">
        <h4 class="filters__title">Filtrar mi búsqueda</h4>
        <button class="filters__close">
            <include src="./views/icons/close-svg.html"></include>
        </button>
    </header>

    <form class="filters__form accordion">

        <details class="accordion__item">
            <summary class="accordion__header">
                <span class="accordion__icon">
                    <include src="./views/icons/earth-svg.html"></include>
                </span>
                <span class="accordion__title">Destinos</span>
                <span class="accordion__marker">
                    <include src="./views/icons/chevron-svg.html"></include>
                </span>
            </summary>

            <fieldset class="accordion__content filter__group">
                <legend class="filter__legend--hidden">Destinos</legend>
                <include src="./views/filters/group/destination.html"></include>
                <button type="button" class="filter__button filter__button--show-all">Ver más</button>
            </fieldset>
        </details>

        <details class="accordion__item">
            <summary class="accordion__header">
                <span class="accordion__icon">
                    <include src="./views/icons/mountains-svg.html"></include>
                </span>
                <span class="accordion__title">Aventura</span>
                <span class="accordion__marker">
                    <include src="./views/icons/chevron-svg.html"></include>
                </span>
            </summary>

            <fieldset class="accordion__content filter__group">
                <legend class="filter__legend--hidden">Aventura</legend>
                <include src="./views/filters/group/adventure.html"></include>
                <button type="button" class="filter__button filter__button--show-all">Ver más</button>
            </fieldset>
        </details>

        <details class="accordion__item">
            <summary class="accordion__header">
                <span class="accordion__icon">
                    <include src="./views/icons/house-svg.html"></include>
                </span>
                <span class="accordion__title">Alojamiento</span>
                <span class="accordion__marker">
                    <include src="./views/icons/chevron-svg.html"></include>
                </span>
            </summary>

            <fieldset class="accordion__content filter__group">
                <legend class="filter__legend--hidden">Alojamiento</legend>
                <include src="./views/filters/group/accommodation.html"></include>
                <button type="button" class="filter__button filter__button--show-all">Ver más</button>
            </fieldset>
        </details>

        <details class="accordion__item">
            <summary class="accordion__header">
                <span class="accordion__icon">
                    <include src="./views/icons/tag-svg.html"></include>
                </span>
                <span class="accordion__title">Precio</span>
                <span class="accordion__marker">
                    <include src="./views/icons/chevron-svg.html"></include>
                </span>
            </summary>

            <fieldset class="accordion__content">
                <legend class="filter__legend--hidden">Precio</legend>

                <label class="filter__label filter__label--hidden" for="min-price">Mínimo</label>
                <div class="filter__input--wrapper">
                    <span class="filter__input--icon">
                        <include src="./views/icons/tag-svg.html"></include>
                    </span>
                    <input class="filter__input filter__input--text" type="text" pattern="[0-9]*" id="min-price" placeholder="Mínimo">
                </div>

                <label class="filter__label filter__label--hidden" for="max-price">Máximo</label>
                <div class="filter__input--wrapper">
                    <span class="filter__input--icon">
                        <include src="./views/icons/tag-svg.html"></include>
                    </span>
                    <input class="filter__input filter__input--text" type="text" pattern="[0-9]*" id="max-price" placeholder="Máximo">
                </div>

            </fieldset>
        </details>
        
    </form>
</div>
