/*------------------------------------*\
   #CONFIG
\*------------------------------------*/

/* COLORS */

$color_primary: #FF8F51;
$color_secondary: #622F60;

$bg_color_primary: #FBF6F3;
$bg_color_secondary: #E0DAE0;

$text_body: #342E34;
$text_title: #2F222F;
$text_subtitle: #6B7D8D;
$text_hover: #B85C28;
$text_highlighted: #CC4900;
$text_dark: #4E250E;
$text_light: #fff;


/* FONT SIZE BASE */

$font-size-base: 1.6rem;


/* BREAKPOINTS */

$mq-xs: 450px;
$mq-s: 744px;
$mq-m: 1127px;
$mq-lg: 1440px;
$mq-xl: 1800px;


/* SIZES */

$size-icon: 24px;
$size-icon-sm: 16px;
$size-icon-xs: 14px;