<script type="module" locals>
    module.exports = {
        sections: [
            {
                title: 'Asia',
                cards: [
                    { image: '0e3246fd90c68b5d92ab37a2345777fbe0a0d253.jpg', price_detail: '1001' },
                    { image: 'pexels-zakariahanif-12214734.jpg', price_detail: '1002' },
                    { image: 'pexels-rayraimundo-18472285.jpg', price_detail: '1003' }
                ],
            },
            {
                title: 'África',
                cards: [
                    { image: '0e3246fd90c68b5d92ab37a2345777fbe0a0d253.jpg', price_detail: '1004' },
                    { image: 'pexels-zakariahanif-12214734.jpg', price_detail: '1005' },
                    { image: 'pexels-rayraimundo-18472285.jpg', price_detail: '1006' },
                    { image: '0e3246fd90c68b5d92ab37a2345777fbe0a0d253.jpg', price_detail: '1007' },
                    { image: 'pexels-zakariahanif-12214734.jpg', price_detail: '1008' },
                    { image: 'pexels-rayraimundo-18472285.jpg', price_detail: '1009' }
                ]
            }
        ]
    }
</script>

<each loop="section in sections">
    <h3 class="grid__cards--title">{{ section.title }}</h3>

    <div class="grid__cards cards">
        <each loop="card in section.cards">

            <include 
                src="./views/cards/card.html"
                locals='{
                    "image": "{{ card.image }}",
                    "price_detail": "{{ card.price_detail }}"
                }'>
            </include>

            <include 
                src="./views/cards/dropdown.html"
                locals='{
                    "price_detail": "{{ card.price_detail }}"
                }'>
            </include>

        </each>
    </div>
</each>
