<div class="dropdown" data-dropdown="{{ price_detail }}" hidden>
    <div class="dropdown__header">
        <h4 class="dropdown__header--title">Desglose de precios</h4>
        <button class="dropdown__close">
            <include src="./views/icons/close-svg.html"></include>
        </button>
    </div>

    <div class="dropdown__body">
        <h4 class="dropdown__title">
            Marruecos, África
            <span class="dropdown__subtitle">9 días</span>
        </h4>

        <dl class="dropdown__list">
            <dt>Precio antes de impuestos</dt><dd>1.124,00 €</dd>
            <dt>Impuesto</dt><dd>4,43 €</dd>
            <dt>Lorem ipsum</dt><dd>150,42 €</dd>
        </dl>
    </div>

    <div class="dropdown__footer">
        <h4 class="dropdown__footer--title">Precio final</h4>
        <div class="dropdown__highlighted">2.455,00 €</div>
    </div>
</div>