<header class="header">
    <div class="logo">
        <a href="index.html" class="logo__link">
            <img src="assets/waveless_logo.svg" alt="waveless logo" class="logo__img">
        </a>
    </div>
    <nav class="nav">
        <ul class="nav__menu">
            <li class="nav__item">
                <a href="#" class="nav__link nav__link--active">
                    <span class="nav__icon">
                        <include src="./views/icons/mountains-svg.html"></include>
                    </span>
                    <span class="nav__text">Aventura</span>
                </a>
            </li>
            <li class="nav__item">
                <a href="#" class="nav__link">
                    <span class="nav__icon">
                        <include src="./views/icons/earth-svg.html"></include>
                    </span>
                    <span class="nav__text">Destinos</span>
                </a>
            </li>
            <li class="nav__item">
                <a href="#" class="nav__link">
                    <span class="nav__icon">
                        <include src="./views/icons/house-svg.html"></include>
                    </span>
                    <span class="nav__text">Alojamiento</span>
                </a>
            </li>
            <li class="nav__item">
                <a href="#" class="nav__link">
                    <span class="nav__text">Sobre nosotros</span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="header__cta">
        <a href="#" class="btn btn__secondary">Reserva</a>
    </div>
    <div class="burger__menu">
        <div class="burger__menu--bar-top"></div>
        <div class="burger__menu--bar-center"></div>
        <div class="burger__menu--bar-bottom"></div>
    </div>
</header>