/*------------------------------------*\
   #BASE
\*------------------------------------*/


* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: $font-size-base;
    font-weight: 400;
    color: $text_body;
    max-width: $mq-xl;
    margin: 0 auto;
}

h1, h2, h3 {
    font-family: 'Syne', sans-serif;
} 

h1 {
    color: $text_title;
} 

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

ul {
    padding: 0; 
    margin: 0;
    list-style-type: none;
}

p {
    margin-top: 0;
}

.btn {
    padding: 10px 30px;
    border-radius: 20px;
    transition: .15s ease;

    &.btn__primary {
        background-color: $color_primary;
        color: $text_dark;
        border: none;
    }

    &.btn__secondary {
        background-color: $color_secondary;
        color: $text_light;
    }

    &.btn__cta {
        background-color: #fff;
        border: 1px solid $color_secondary;
        color: $color_secondary;

        &:hover {
            color: #fff;
            background-color: $color_secondary;
        }
    }
}

input[type="checkbox"] {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid $text_body;
    border-radius: 2px;
    cursor: pointer;

    &:checked {
        background-color: $color_primary;
        color: $text_body;

        &:after {
        content: "✓";
        color: $text_body;
        font-size: 13px;
        display: block;
        text-align: center;
        line-height: 13px;
        }
    }
}
