/*------------------------------------*\
   #COMPONENTS
\*------------------------------------*/

/* IMPORTS */

@import "components/accordion";
@import "components/cards";
@import "components/checkbox";
@import "components/dropdown";
@import "components/heading";
@import "components/filters";
@import "components/navigation";
@import "components/slider";


/* GRID TEMPLATE */

.grid__row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.grid__col--sidebar {
    grid-column: span 1;
}

.grid__col--main {
    grid-column: span 3;
}
