/*------------------------------------*\
   #LAYOUT
\*------------------------------------*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.footer__logo {
    display: flex;
    justify-content: center;
    padding: 45px 20px;
    background-color: $bg_color_primary;
    border-top: 1px solid $bg_color_secondary;
}

.footer__copyright {
    text-align: center;
    color: $color_secondary;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 20px 20px 5px;
    background-color: $bg_color_secondary;
}

.header,
.footer,
.container {
    max-width: 1650px;
    margin-right: auto;
    margin-left: auto;
    
}

.container__wrapper {
    padding: 20px;

    @include for-size(tablet) {
        max-width: 724px;
        margin-right: auto;
        margin-left: auto;
    }

    @include for-size(m-devices) {
        max-width: 1107px;
    }
}