<section class="slider">
    <div class="slider__wrapper">
        <div class="slide">
            <div class="slide__heading heading">
                <h2 class="slide__heading--title heading__title">Ruta por Australia</h2>
                <p class="slide__heading--subtitle heading__subtitle">Si te va la aventura, no te lo puedes perder</p>
                <button class="slide__button btn btn__primary">Más información</button>
            </div>
        </div>
    </div>
    <div class="slider__controls">
        <button class="slider__control slider__control--prev" aria-label="slide anterior">
            <include src="./views/icons/chevron-svg.html"></include>
        </button>
        <button class="slider__control slider__control--next" aria-label="slide siguiente">
            <include src="./views/icons/chevron-svg.html"></include>
        </button>
    </div>
    <div class="slider__dots">
        <button class="slider__dot slider__dot--active" aria-label="slide 1"></button>
        <button class="slider__dot" aria-label="slide 2"></button>
        <button class="slider__dot" aria-label="slide 3"></button>
    </div>
</section>